APP_NAME="IDEJ-SYS"
APP_ENV=production
APP_KEY=base64:CAMBIAR_POR_APP_KEY_GENERADA
APP_DEBUG=false
APP_URL=https://TU-DOMINIO.up.railway.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_URL=${{MySQL.MYSQL_URL}}

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

QUEUE_CONNECTION=database
CACHE_STORE=database
FILESYSTEM_DISK=public

BROADCAST_CONNECTION=log
MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@idej.edu.mx"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
